<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mshop.eka.apppesenin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" "
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalenderActivity"
            android:label="Pilih Tanggal"
            android:theme="@style/CalenderViewCustom" />
        <activity
            android:name=".HotelLokasiActivity"
            android:label="Lokasi Hotel"
            android:theme="@style/Search" />
        <activity
            android:name=".KeretaStasiunAsalActivity"
            android:label="Pilih Stasiun Keberangkatan"
            android:theme="@style/Search" />
        <activity
            android:name=".KeretaStasiunTujuanActivity"
            android:label="Pilih Stasiun Kedatangan"
            android:theme="@style/Search" />
        <activity
            android:name=".PesawatBandaraAsalActivity"
            android:label="Pilih Bandara Keberangkatan"
            android:theme="@style/Search" />
        <activity
            android:name=".PesawatBandaraTujuanActivity"
            android:label="Pilih Bandara Kedatangan"
            android:theme="@style/Search" />
        <activity
            android:name=".DaftarHotelActivity"
            android:label="Hotel" />
        <activity android:name=".DetailHotelActivity" />
        <activity
            android:name=".KamarHotelActivity"
            android:label="Pilih Kamar" />
        <activity
            android:name=".PesanKamarHotelActivity"
            android:label="Detail Pemesanan" />
        <activity
            android:name=".ReviewPesanKamarHotelActivity"
            android:label="Review Pemesanan" />
        <activity
            android:name=".MetodePembayaranActivity"
            android:label="Metode Pembayaran" />
        <activity android:name=".CheckoutBerhasilHotel"></activity>
    </application>

</manifest>